/* layout.css */

main {
  min-height: 90vh;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

div {
  margin: auto;
  text-align: center;
  /* padding-left: 100px;
  padding-right: 100px; */
  max-width: 80%;
}
